body{
    /* background-color: aquamarine; */
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.main
{
  padding: 250px;
  padding-top:20px ;

}


.next{
    margin-top: 18px;
    margin-left: 10px;
}
.previous{
    margin-top: 14px;
    margin-right: 10px;
}
.form{
    font-size: 25px;
}
.nav{
    height: 70px;
    background-color: aquamarine;
    /* background-color: white; */
}

